<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src="https://cdn.tailwindcss.com"></script>
   <title>Document</title>
</head>
<body>
   <footer class="absolute bottom-0 w-full">
      <hr/>
      <div class="flex justify-center py-4 items-center flex-col gap-4">
         <div class="flex gap-4 ">
               <img src="/asset/icons/facebook.png" height="40px" width="40px" class="cursor-pointer transition duration-150 ease-in-out hover:scale-110" alt="facebook">
               <img src="/asset/icons/instagram.png" height="40px" width="40px" class="cursor-pointer transition duration-150 ease-in-out hover:scale-110" alt="instagram">
               <img src="/asset/icons/twitter.png" height="40px" width="40px" class="cursor-pointer transition duration-150 ease-in-out hover:scale-110" alt="twitter">
         </div>
         <div class=" text-center">
            <div class="text-gray-700 text-lg">
               Budhanilkantha-7, Kathmandu, Nepal
            </div>
            <div class="text-gray-700 text-lg flex">    
               <div class="flex justify-center items-center gap-2">
                  <img src="/asset//icons/email.png" class="h-4 w-4" alt="telephone">
                   <a href="mailto:jobs@limitless.com">jobs@limitless.com</a>  
               </div>     
               <div class="mr-2"></div>      
               <div class="flex justify-center items-center gap-1">
                  <img src="/asset//icons/telephone-handle-silhouette.png" class="h-4 w-4" alt="telephone">
                  <a href="tel:+977-0439145">+977-0439145</a>
               </div>
               </div>
            </div>
      </div>
   </footer>
</body>
</html>