<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/style/card.css">
	<link rel="stylesheet" href="style/card.css">
	<title>Card</title>
</head>
<body>
   <template class="card-template" id="card">
		<div class="card">
			<figure class="job-logo-container">
				<img src='' alt="job" class="job-logo">
			</figure>
			<section class="job-description-container">

				<ul class="tags">
					<!-- <li class="company-name">Loop Studio</li> -->
					<!-- <li class="tag-name">NEW</li>
					<li class="tag-name">FEATURED</li> -->
				</ul>

				<h3 class="job-post">Hello</h3>
				
				<ul class="mini-description">
					<!-- <li>1d ago</li>
					<li>Part Time</li> -->
				</ul>
				


			</section>
		</div>
   </template>
</body>
<script type="module" src="/js/card.js">

</script>
</html>